@import "tailwindcss";

/* Cette propriété active le défilement doux pour toute la page */
html {
  scroll-behavior: smooth;
}
/* Définition de l'animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Légère montée */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Classe à appliquer sur le contenu des pages */
.animate-page {
  animation: fadeIn 0.4s ease-out forwards;
}